<div class="ui-g">
    <div class="ui-g-12">
        <h2>Add Programs</h2>
    </div>
<div class="ui-g-12 ui-md-12">
    <p-dataView #dv [value]="programs" [paginator]="false" [rows]="totalRecords"
    [lazy]="false" [totalRecords]="totalRecords" [loading]="loading" [first]="first" filterBy="title">
    <p-header>
    <input class="form-control" type="search" pInputText placeholder="Program name" (keyup)="dv.filter($event.target.value)">

    </p-header>
        <ng-template let-program pTemplate="listItem">
            <div class="program mb-4 d-flex align-items-center" pDraggable="prog" dragHandle=".pi-ellipsis-v" (onDragStart)="dragStart($event,program)" (onDragEnd)="dragEnd($event)">
                <!-- <i class="pi pi-ellipsis-v" style="font-size: 3em"></i>  -->
                <div class="drag-title">
                    <h3>{{program.title}}</h3><a [routerLink]="['/program', program.title]"><i ngbTooltip="View Program Profile" container="body" class="pi pi-info-circle"></i></a>
                </div>
                <div (click)="addProgram(program)">
                        <span *ngFor="let genre of program.genres;" class="genre" [ngClass]='{"fiction":genre == "Fiction", "nf": genre == "Creative-Non-fiction", "poetry": genre == "Poetry"}'>{{genre}}</span>
                </div>
                <div class="add-button" (click)="addProgram(program)" container="body">
                    <i placement="left" ngbTooltip="Add Program" class="pi pi-plus"></i> 
                </div>
            </div>
        </ng-template>
    <p-footer>
    </p-footer>
    </p-dataView>
</div>
</div>