.logo{
    width: 150px;
    img{
        max-width: 100%;
    }
}
.dropper,
.drop-column{
    height: 100vh;
}
.add-button{
    &:hover{
        cursor: pointer;
    }
}
.program{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h3{
        display: inline;
    }
}

.programs-add-programs {
    overflow: scroll;
    height: 100%;
}
.pi{
    font-size: 1.625rem;
}
