<div class="ui-g-12 ui-md-6">
    <input type="text" [(ngModel)]="params.search" (ngModelChange)="searchPrograms($event)" />
    <p-dataView [value]="programs" [paginator]="true" [rows]="50"
    [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [loading]="loading" [first]="first">
    <p-header>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </p-header>
        <ng-template let-program pTemplate="listItem">
            <div pDraggable="prog" dragHandle=".drag-title" (onDragStart)="dragStart($event,program)" (onDragEnd)="dragEnd($event)">
                <div class="drag-title">
                    {{program.attributes.title}}
                </div>
            </div>
        </ng-template>
        <ng-template let-gProgram pTemplate="gridItem">
                <mat-card class="ui-g-12 ui-md-3" pDraggable="prog" (onDragStart)="dragStart($event,gProgram)" (onDragEnd)="dragEnd($event)" dragHandle=".drag-title">
                    <div class="drag-title">
                      {{gProgram.attributes.title}}
                    </div>
                </mat-card>
        </ng-template>
    <p-footer>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </p-footer>
    </p-dataView>
</div>

<div class="ui-g-12 ui-md-6 dropper">
    <div class="ui-g-12 ui-md-6 drop-column" pDroppable="prog" (onDrop)="drop($event)">
    <p-dataView [value]="selectedPrograms">
        <ng-template let-sprogram pTemplate="listItem">
                <div class="drag-title">
                    {{sprogram.attributes.title}}
                </div>
        </ng-template>
    </p-dataView>
    </div>
</div>