@import '../../styles/partials/mixins';
.slid-over {
  transform: translateX(50%);
  transition: transform .25s ease;
}
.comparer{
  transition: transform .5s ease;
}
.program-row {
  img {
    max-width: 100%;
  }
}
// Detail section
.school-details{
  img{
    max-width: 100%;
    
  }
}
.people-dv{
  width: 100%;
  .people-dv-header{
    display: flex;
    align-items: center;
  }
  .logo{
    margin-right: 20px;
    img{
      max-width: 200px;
      max-height: 50px;
    }
  }  
}
.program--person{
  width: 270px;
  @include breakpoint('lg'){
    width: 20%;
  }
  .card{
    border: none;
  }
  &:hover{
    cursor: pointer;
  }
  img {
    border-radius: 50% 50%;
    height: auto;
    max-width: 150px;
    
  }
}

.programs-add-programs {
  overflow: scroll;
  height: 100%;
}

// STICKY STYLE LATER
:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.ap-sidebar{
  overflow-y: auto;
}

.modal-image{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.timeline{
  width: 100%;
}
.book{
  border: none;
  img{
    height: 175px
  }
}
