.program-row {
  img {
    max-width: 100%;
  }
}
// Detail section
.school-details{
  img{
    max-width: 100%;
    
  }
}
.people-dv{
  .logo{
    img{
      max-width: 200px;
      max-height: 50px;
    }
  }  
}
// STICKY STYLE LATER
:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.ap-sidebar{
  overflow-y: auto;
}
