@import "./../../styles/partials/variables";
@mixin genreIcon{
    .genre{
        display: inline-block;
        color: white;
        margin: 0 3px;
        padding: 5px 10px;
        font-family: $quicksand;
    }


    .fiction{
        background: $purple;
    }
    .poetry{
        background: $blue;
    }
    .nf{
        background: $red;
    }
}