$merriweather : 'Merriweather';
$quicksand : 'Quicksand';
// $ssPro : 'Source Serif Pro';

$green: #acc690;
$blue: #90c6c5;
$purple:#aa90c6;
$red:#c69091;
$yellow:#c6bc90;
$orange:#e49159;

$link-color: #525151;

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1200px,
  xl: 1440px
) !default;

$text-muted: white !default;

.btn-success{
    color: white !important;
}
small{
    font-family: $quicksand;
}

.bg-red{
  background: $red;
}

.bg-green{
  background: $green;
}

.bg-purple{
  background: $purple;
}

.color-red{
  color: $red;
}

.color-green{
  color: $green;
}

.color-purple{
  color: $purple;
}