.discover-program{
  &.mat-card{
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  }
  .mat-card-avatar {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100px;
      border-radius: 0;
  }
}