<div class="user">
    <mat-list *ngIf="user">
        <mat-list-item> <label for="">Username:</label> {{user.name}} </mat-list-item>
        <mat-list-item> <label for="">Email:</label> {{user.email}} </mat-list-item>
        <mat-list-item> <label for="">Stripe Subscription ID:</label>{{user.subscriptionId}}</mat-list-item>
        <mat-list-item> <label for="">Stripe Customer ID:</label>{{user.customerId}}</mat-list-item>
        <mat-list-item> <label for="">Subscription Plan:</label>{{plan}}</mat-list-item>
        <mat-list-item> <label for="">Status:</label>{{status}}</mat-list-item>
        <mat-list-item *ngIf="cancelAtEndOfPeriod && status == 'active' && currentPeriodEnd"> <label for="">Subscription will end at:</label>{{currentPeriodEnd|date:'MMMM d, y, h:mm:ss a'}}</mat-list-item>
    </mat-list>
    <button *ngIf="!cancelAtEndOfPeriod && status == 'active'" (click)="unsubscribe()">Cancel Subscription</button>
    <button *ngIf="cancelAtEndOfPeriod && status == 'active'" (click)="resubscribe()">Restart Subscription</button>
    <button *ngIf="status == 'canceled'" (click)="subscribe()">Subscribe</button>
</div>
