@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";
.program-body{
  background: white;
}
.program-logo{
  max-width: 100%;
}
.program--person{
    width: 270px;
    .card{
      border: none;
    }
    &:hover{
      cursor: pointer;
    }
    img {
      border-radius: 50% 50%;
      height: auto;
      max-width: 150px;
      
    }
}
.modal-image{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.book{
  border: none;
  img{
    height: 175px
  }
}

@include genreIcon;
