<p-toast position="top-right"></p-toast>
<div class="container login-page">
  <div class="row login-holder">
    <div class="col-12 col-lg-6">
        <form [formGroup]="loginForm" (submit)="login()">
            <h3>Login</h3>
            <div class="form-group">
              <label for="email">User Name:</label>
              <input class="form-control" formControlName="userName" type="text" required/>
              <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                  <div *ngIf="userName.errors.required">
                    User Name is required.
                  </div>
               </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input name="password" type="password" class="form-control" formControlName="password" type="password" aria-describedby="passwordHelpInline" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Password is required.
                    </div>
                 </div>
            </div>
            <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched) && (loginForm.errors && loginForm.errors.server)" class="alert alert-danger">
                  {{serverError}}
             </div>
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
  </div>
</div>
