@import "./../../styles/partials/variables";

.login-page{
    .login-holder{
        padding: 60px;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $green;
        color: white;
    }
}