@import "styles/partials/fonts";
@import "styles/partials/mixins";
@import "styles/partials/variables";
@import '~bootstrap/scss/bootstrap';

body, body > *{
    font-family: $merriweather !important;
}
body .ui-widget {
    font-family: $merriweather !important;
}
body a{
    color: $link-color;
}
h1,h2,h3,h4,h5{
    font-family: $quicksand !important;
    // font-weight: 900;
    // 
}
blockquote{
    margin: 1rem auto;
    font-size: 1.25rem;
    position: relative;
    &:before{
        content:'\201C';
        display: inline;
        font-size: 1.5rem;
    }
    &:after{
        content: "\201D";
        display: inline;
        font-size: 1.5rem;
    }
}
ul,ol,dl{
    padding-top: 1rem;
    padding-left: 24px;
    li{
        padding-bottom: 1rem;
    }
}
.btn-icon{
    color: $white;
    i{
        font-weight: 300;
    }
    i,
    span{
        display: inline;
    }
}

// global
@include genreIcon;

.alert-danger{
    color: $white;
    border-color: $danger;
    background: $danger;
}

.mat-card{
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid lightgrey;
}

