<p-toast position="top-right"></p-toast>
<div class="container-fluid">
  <div class="container register">
    <div class="row">

      <div class="col-12 col-md-6">
          <div>
              <h2>Register</h2>
              <p>All registrants enjoy a complimentary 3 day trial. After the trial is up users are automatically charged $4.99/month or $44.99/year and can cancel at any time. We charge so that we can maintain a useful and relevant tool.</p>
              <p>By registering you agree to our terms of use and are automatically opted in to occasional news from us (we promise not too often). We never share your information.</p>
              <p>Our goal is to give our users a picture of their life during in MFA in a cohesive format.</p>
              <a routerLink="/login">Already registered? Login here.</a>
          </div>
      </div>
      <div class="col-12 col-md-6">
          <app-stripe-token></app-stripe-token>
      </div>
    </div>
  </div>
</div>