<div class="container-fluid home-sign-up">
<div class="container">
        <div class="row">
            <div class="home-section home-section--text col-12 col-md-6">
                <h2>Launching Soon!</h2>
                <p>A web app that will help you make the right choice for your Creative Writing MFA. Sign up below to get news such as launch announcement and new features from us.</p>
                <form *ngIf="!submitted" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input class="form-control" name="email" type="text" formControlName="email" placeholder="your@email.com" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Submit</button>
                    </form>
                    <div *ngIf="submitted" [innerHtml]="msg">
                </div>
            </div>
            <div class="home-section col-12 col-md-6">
                <h2>Get the full picture</h2>
                <p>MFA vs. MFA provides you with information from around the web about Academic institutions, their faculty, and their locations.</p>
                <ul>
                    <li>Save and compare programs by program details, faculty, and geographic information.</li>
                    <li>View application deadlines in a single timeline.</li>
                    <li>Contact information for selected programs.</li>
                    <li>Take an in depth look at potential mentors.</li>
                </ul>
                <p>Our goal is to give our users a cohesive picture of what their life during and after an MFA might look like based on facts.</p>
                <a routerLink="/register">Ready to get started? Start the free trial.</a>
            </div>
        </div>
    </div>
</div>

