@import "./../../styles/partials/variables";

.home-section{
    padding: 60px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $red;
    color: white;
}