<p-toast position="top-right"></p-toast>
<div class="container payment-page">
  <div class="row payment-holder">
    <div class="col-12 col-lg-6">
            <div>
                <h2>Subscribe</h2>
                <p>Subscribers are automatically charged $3.99 a month and can cancel at any time. We charge so that we can maintain a useful and relevant tool.</p>
                <p>Payment is secure and excepts all major payment types. We never share your information with any third party.</p>
            </div>
        </div>
    <div class="col-12 col-lg-6">
        <button class="btn btn-primary" (click)="subscribe()">Sign me up!</button>
    </div>
  </div>
</div>
